---
import Card from "@components/Card.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="pyDesicion">
  <h1 class="text-3xl text-center py-8 font-semibold">pyDesicion Interface</h1>
  <main class="grid grid-cols-1 px-8 gap-4 md:grid-cols-3">
    <Card
      title="AHP"
      description="El AHP es un método de toma de decisiones que organiza criterios y alternativas en una jerarquía, compara elementos por pares y calcula prioridades para elegir la mejor opción."
			href="/ahp"
    />
		<Card
		title="Fuzzy AHP"
		description="El Fuzzy AHP es una versión del AHP que usa lógica difusa para manejar la incertidumbre en las comparaciones, permitiendo decisiones más precisas en entornos inciertos."
		href="/fuzzy-ahp"
	/>
		<Card
		title="PPF AHP"
		description="El PPF AHP combina conjuntos difusos proporcionales (PPF) con el AHP para manejar incertidumbre extrema, considerando grados de pertenencia, no pertenencia, y neutralidad."
		href="/ppf-ahp"
		/>	
  </main>
</Layout>
